@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any()) {
    <p>There are no customers in the system</p>
} else {
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
            </tr>
            @foreach (var customer in Model) {
                <tr>
                    @*<td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>*@
                    <td>@Html.ActionLink(customer.Name,"Edit","Customers",new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

